:root {
  --White: #ffffff;
  --Yellow: #ffb006;
  --Black: #000000;
  --Grey: #333533;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--Black);
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 0 4vw;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

p {
  text-align: center;
}
/*hidden stuff*/

#navBtn,
.undisplayed {
  display: none;
}

.hidden {
  visibility: hidden;
}

.displayed {
  display: block;
}

nav {
  width: 99vw;
  height: 5vh;
  padding: 0 4vw;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--Black);
  z-index: 2;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  padding-top: 5vh;
}

#navList {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 2.8fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 1fr;
  list-style-type: none;
  padding-top: 35px;
}

#navList > li:not(:first-child) {
  text-align: center;
  padding-top: 5px;
}

/*landing page*/
.landing {
  height: 100vh;
}
video {
  width: 100%;
  z-index: -1;
  max-height: 80vh;
  object-fit: cover;
  margin-top: 10vh;
}

.logo {
  position: absolute;
  top: 60vh;
  left: 10vw;
}

.logoName {
  font-weight: 800;
  font-size: 50px;
  color: var(--Yellow);
  text-shadow: 1px 1px 0 #bea016;
}

.subLogo {
  margin-top: 2vh;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 1px 1px 0 black;
}

.fas {
  color: var(--Yellow);
  font-size: 50px;
}

.navBtn2 > a {
  width: 100%;
  text-align: center;
}

.navBtn2 {
  position: fixed;
  height: 70px;
  width: 70px;
  bottom: 0;
  left: calc(50% - 35px);
  background: var(--Black);
  clip-path: circle(50% at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/*film*/
.galleryBox {
  margin-top: 20vh;
  margin-bottom: 10vh;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.card {
  width: 100%;
  min-height: 300px;
  position: relative;
  background-size: cover;
}

.hoverLayer {
  display: none;
  background: rgba(252, 252, 252, 0.541);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

.playBtn {
  width: 100px;
  height: 100px;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 20%,
    79% 53%,
    25% 83%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background: white;
  z-index: 1;
}

.card:hover > .hoverLayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#videoModal,
#impressum {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
}

/*when classList is added*/
#videoModal.show,
#impressum.show {
  visibility: visible;
  opacity: 1;
  animation: showModal 1s ease-out;
}

@keyframes showModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.videoContainer {
  width: 1000px;
  height: auto;
  position: fixed;
  top: 25vh;
  left: calc(50% - 500px);
  z-index: 100;
}

iframe {
  width: 1000px;
}

.videoBtn {
  width: 50px;
  height: 50px;
  padding: 0;
  background: none;
  color: var(--White);
  border: var(--White) solid 1px;
  position: fixed;
  top: 20vh;
  left: calc(50% + 450px);
  transition: all 1s ease-in-out;
}

.videoBtn:hover {
  background: var(--Yellow);
  transition: all 1s ease-in-out;
}

/*about*/

.aboutContainer {
  margin-top: 20vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.aboutImg {
  width: 700px;
  height: 440px;
  transform: scaleX(-1);
  background-image: url(./assets/unnamed.jpg);
  background-size: 150%;
  background-position-y: 25%;
  background-position-x: 88%;
}

.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*footer*/

footer {
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
}

.impressumBox {
  position: relative;
  width: 40em;
  height: 30em;
  border: white solid 1px;
  background-color: var(--Black);
  top: calc(50vh - 15em);
  left: calc(50vw - 20em);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.impressumBox > button {
  width: 3em;
  height: 3em;
  padding: 0;
  background: none;
  color: var(--White);
  border: var(--White) solid 1px;
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  transition: all 1s ease-in-out;
}

.impressumBox > button:hover {
  background: var(--Yellow);

  transition: all 1s ease-in-out;
}

.impressumBox > span {
  font-size: 2rem;
  display: block;
  margin: 0.5em;
}

.finalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .signature {
} */
.fa-heart {
  font-size: 15px;
  color: inherit;
  transition: all 1s ease-out;
}

.signature:hover > a {
  color: var(--Yellow);
}

.showImpressum {
  border: none;
  width: auto;
  font-size: 1rem;
  background: black;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: right;
}

.vita {
  text-align: left;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 25px;
  justify-content: space-evenly;
}

.vita > li {
  text-align: left;
  justify-self: left;
  display: block;
}

.weirdP {
  text-align: left;
  line-height: 30px;
}

#contact > p {
  font-size: 30px;
}
